<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service name="SmevWCF.Service1">
        <endpoint address="" binding="customBinding" bindingConfiguration="smevBinding"
    contract="SmevWCF.IService1" />
      </service>
    </services>
    
    <bindings>
      <customBinding>
        <binding name="smevBinding">
          <customMessageEncoding logPath="D:\\TestServiceLog\\"/>
          <security
            allowSerializedSigningTokenOnReply="true"
            authenticationMode="MutualCertificateDuplex"
            defaultAlgorithmSuite="BasicGostObsolete"
            includeTimestamp="false"
            requireDerivedKeys="true"
            keyEntropyMode="CombinedEntropy"
            messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSecurityContextCancellation="false"
            requireSignatureConfirmation="false"
            securityHeaderLayout="Strict">
            <issuedTokenParameters/>
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <httpTransport manualAddressing ="false"/>
        </binding >
      </customBinding >
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true" />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <serviceCertificate findValue="e1 57 ef d7 49 5a 3e 44 b9 07 e4 f6 a1 50 ea 76 76 24 20 e0" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"></authentication>
            </clientCertificate>
          </serviceCredentials>
          <errorHandler/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
    <extensions>
      <bindingElementExtensions>
        <add name="customMessageEncoding" type="SmevServiceEncoder.SMEVMessageEncodingBindingElementExtensionElement, SmevServiceEncoder"/>
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="errorHandler" type="CustomErrorHandler.ErrorHandlerExtension, CustomErrorHandler" />
      </behaviorExtensions>
    </extensions>
    
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
